<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <nav class="navbar navbar-dark bg-primary">
    <span class="navbar-brand mx-auto" style="font-size: x-large; font-weight: 800;">Mango News & Comments</span>
  </nav>
  <nav class="navbar" style="background-color: white; border: 1px solid #007bff;">
    <span class="navbar-brand mx-auto" style="
          font-size: large;
          font-weight: 800;
          font-style: oblique;
          color: #007bff;
        ">The latest news from NPR to discuss!</span>
  </nav>
</body>

</html>